{% extends 'live_affiliates/layout.html' %}
{% load myuserapp_tags %}
{% block page_body %}
<div class="forgot_password">
  <div class="container h-100">
    <div class="row h-100 d-flex justify-content-center">
      <div class="col-12 col-md-5 col-lg-4 m-auto">
        <h3 class="text-center">Forgot your password?</h3>
        <p class="text-center">To recover your password, please fill in the given form:</p>
        <div class="create_account_form">
          <h4 class="text-center">Retrieve Password</h4>
             {% if form.errors %}
              <p class="bg-danger p-2">Incorrect email address !</p>
              {% endif %}
          <form method="post" action="{% url 'accounts:password_reset' %}">
              {% csrf_token %}
              <div class="form-group resetpass">
              {{ form.as_p}}
              </div>
            <button type="submit" class="btn btn-success btnrounded btn-block">Submit</button>
              <input type="hidden" name="next" value="{{ next }}" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}