<div class="banner_outer">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class=""></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item">
                <div class="container">
                    <div class="row h-100">
                        <div class="col-12 col-sm-6 col-md-6 d-flex align-content-center flex-wrap">
                            <div class="banner_caption">
                                <h2>Make <span>Money</span> from your Website</h2>
                                <h5>get upto <span>100%</span>of the realised amount of
                                    an enquiry</h5>
                                <a class="btn btn-primary btnrounded" href="/signup" role="button">CREATE NEW ACCOUNT</a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="banner_img">
                                <img src="/static/images/banner1.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item active">
                <div class="container">
                    <div class="row h-100">
                        <div class="col-12 col-sm-6 col-md-6 d-flex align-content-center flex-wrap">
                            <div class="banner_caption">
                                <h2>Make <span>Money</span> from your Website</h2>
                                <h5>get upto <span>100%</span>of the realised amount of
                                    an enquiry</h5>
                                <a class="btn btn-primary btnrounded" href="/signup" role="button">CREATE NEW ACCOUNT</a>

                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="banner_img">
                                <img src="/static/images/banner1.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row h-100">
                        <div class="col-12 col-sm-6 col-md-6 d-flex align-content-center flex-wrap">
                            <div class="banner_caption">
                                <h2>Make <span>Money</span> from your Website</h2>
                                <h5>get upto <span>100%</span>of the realised amount of
                                    an enquiry</h5>
                                <a class="btn btn-primary btnrounded" href="/signup" role="button">CREATE NEW ACCOUNT</a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="banner_img">
                                <img src="/static/images/banner1.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>