 <div class="howitwork">
        <div class="container">
            <div class="row h-100">
                <div class="col-12 col-sm-4 col-md-4 d-flex align-content-center flex-wrap">
                    <div class="work_box border_yellow">
                        <img src="/static/images/Create-Account.svg">
                        <h6> {{home_page_widget_first.title | safe}}</h6>
                        <p> {{home_page_widget_first.description | safe}}</p>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 d-flex align-content-center flex-wrap">
                    <div class="work_box border_orange">
                        <img src="/static/images/Enquiry-Widget.svg">
                         <h6> {{home_page_widget_second.title | safe}}</h6>
                        <p> {{home_page_widget_second.description | safe}}</p>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 d-flex align-content-center flex-wrap">
                    <div class="work_box border_green">
                        <img src="/static/images/earn-revenue.svg">
                         <h6> {{home_page_widget_third.title | safe}}</h6>
                        <p> {{home_page_widget_third.description | safe}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
