{% extends 'live_affiliates/layout.html' %}
{% block page_body %}
<div class="faq_sec">
  <div class="container h-100">

    <div class="row h-100 d-flex justify-content-center">
      <div class="col-12 col-md-8 col-lg-7 m-auto">
        <h3 class="text-center mb-4">Hello Affiliate Program (FAQs)</h3>
        <div class="faq_box">

          <div id="accordion">
            <div class="accordion_box">
              <div class="accordion_header">
                <h5 class="mb-0" data-toggle="collapse" data-target="#q1" aria-expanded="true" aria-controls="q1">
                  What is Hellotravel?
                  <span><i class="fas fa-chevron-down"></i></span>
                </h5>
              </div>

              <div id="q1" class="collapse show" data-parent="#accordion">
                <div class="accordion_body">
                  <p>We are the largest pay per seen lead platform you have never heard of. We connect genuine travelers looking for agents to plan their holidays.</p>
                </div>
              </div>
            </div>

            <div class="accordion_box">
              <div class="accordion_header">
                <h5 class="mb-0" data-toggle="collapse" data-target="#q2" aria-expanded="true" aria-controls="q2">
                  What is your affiliate program?
                  <span><i class="fas fa-chevron-down"></i></span>
                </h5>
              </div>

              <div id="q2" class="collapse" data-parent="#accordion">
                <div class="accordion_body">
                  <p>It is a unique program in which you get paid for all leads that are sold by us and on all transactions against each lead.</p>
                </div>
              </div>
            </div>

            <div class="accordion_box">
              <div class="accordion_header">
                <h5 class="mb-0" data-toggle="collapse" data-target="#q3" aria-expanded="true" aria-controls="q3">
                  How does your system work?
                  <span><i class="fas fa-chevron-down"></i></span>
                </h5>
              </div>

              <div id="q3" class="collapse" data-parent="#accordion">
                <div class="accordion_body">
                  <p>We allow each lead to be bought by up to 4 travel agents which means enhanced revenue per lead i.e.
                    you get revenue each time a lead is bought by an agent.</p>
                </div>
              </div>
            </div>

            <div class="accordion_box">
              <div class="accordion_header">
                <h5 class="mb-0" data-toggle="collapse" data-target="#q4" aria-expanded="true" aria-controls="q4">
                  Who can join?
                  <span><i class="fas fa-chevron-down"></i></span>
                </h5>
              </div>

              <div id="q4" class="collapse" data-parent="#accordion">
                <div class="accordion_body">
                  <p>There are no eligibility criteria as such. All you need is a potential source to
                    generate genuine leads. However, our team reviews each application before approving
                    membership with us. It typically takes less than 48 hours to review your application.</p>
                </div>
              </div>
            </div>

            <div class="accordion_box">
              <div class="accordion_header">
                <h5 class="mb-0" data-toggle="collapse" data-target="#q5" aria-expanded="true" aria-controls="q5">
                  How do I join?
                  <span><i class="fas fa-chevron-down"></i></span>
                </h5>
              </div>

              <div id="q5" class="collapse" data-parent="#accordion">
                <div class="accordion_body">
                  <p>Fill the required form & apply now.</p>
                </div>
              </div>
            </div>

            <div class="accordion_box">
              <div class="accordion_header">
                <h5 class="mb-0" data-toggle="collapse" data-target="#q6" aria-expanded="true" aria-controls="q6">
                  How much will I earn through this program?
                  <span><i class="fas fa-chevron-down"></i></span>
                </h5>
              </div>

              <div id="q6" class="collapse" data-parent="#accordion">
                <div class="accordion_body">
                  <p>Leads get sold for anywhere between $2 to $20, which means that you have
                    an opportunity to make handsome earnings. Our affiliate partners, on an average,
                    earn anywhere in excess of $1000 per month. Some of our top partners earn upwards of $10,000 per month.</p>
                </div>
              </div>
            </div>



          </div>


        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}