{% extends 'live_affiliates/layout.html' %}
{% block page_body %}
<div class="genarate_form_sec">
	<div class="addsite_header">
		<div class="container">
		  <div class="main_headding"><h4>Generate Form</h4><span>Affiliate ID- {{user.id}}</span></div>
		</div>
	</div>

	<div class="container h-100 mt-4">
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<div class="filter_box">
					<h5>Button Previewer</h5>
					{% if messages %}
                    {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <form  method="post">
                         {% csrf_token %}

						<ul class="filtertitle">
						<li class="filtertitlebox">
							<label>Button Name</label>
							<input type="text" name="name" required value="" class="form-control form-control-sm">
						</li>
						</ul>

                        <label>Websites</label>
                        <select class="form-control" name="website" required id="exampleFormControlSelect1"
                                name="businesstype">
                        {% for website in websites %}

                        <option value="{{website.website_address}}">{{website.website_address}}</option>
                        {%endfor%}
                        </select>

					<ul class="selctsection_box checklist_item">
						<li class="radiobox">
							{% if cities %}
                        	 {% for city in cities.data %}
							<div class="form-check form-check-inline">
							  <input class="form-check-input" name="locations"  {% if forloop.counter == 1 %} checked {%endif%} type="radio" value="{{city.slug}}">
							  <label class="form-check-label">{{city.locality}}</label>
							</div>
							{% endfor %}
                        	{% endif %}

						</li>

					</ul>

					<ul class="selctsection_box checklist_item">
						<li class="radiobox">
							{% if cat %}
                        	 {% for b_cat in cat %}
							<div class="form-check form-check-inline">
							  <input class="form-check-input" name="category"  {% if forloop.counter == 1 %} checked {%endif%} type="radio" value="{{b_cat.slug}}">
							  <label class="form-check-label">{{b_cat.name}}</label>
							</div>
							{% endfor %}
                        	{% endif %}
						</li>
					</ul>

					<ul class="filtertitle">
						<li class="filtertitlebox">
							<label>Button Text</label>
							<input type="text" name="title" value="Order Now" class="form-control form-control-sm">
						</li>
					</ul>

					<ul class="selctsection_box">

						<li class="selectbox">
							<div class="settingbox">
								<label>Button Width</label>
								<input type="text" name="width" value="500px" class="form-control form-control-sm">
							</div>
							<div class="settingbox">
								<label>Button Height</label>
								<input type="text" name="height" value="20px" class="form-control form-control-sm">
							</div>
						</li>

						<li class="selectbox">
							<div class="settingbox">
								<label>Button Border</label>
								<input type="color" name="border" class="form-control form-control-sm">
							</div>
							<div class="settingbox">
								<label>Button Background</label>
								<input type="color" name="title_background" class="form-control form-control-sm">
							</div>
						</li>



						<li class="selectbox">
							<div class="settingbox">
								<label>Button Text Color</label>
								<input type="color" name="title_text_color" class="form-control form-control-sm">
							</div>

							<div class="settingbox">
								<label>Font Size</label>
								<input type="text" name="size" value="20px" class="form-control form-control-sm">
							</div>


						</li>



					</ul>
                   <button type="submit">Save & Preview</button>
                </form>

				</div>
			</div>

			<div class="col-sm-12 col-md-8">
				<div class="genarate_form_body">
					<div class="canvasbody">

						<a target="_blank" href="https://atdoorstep.ae/redirectionBy?position=button&referrer={{g_form.website}}&aff_id={{user.id}}&bid={{g_form.id }}" id="ads_button" style="
	width: {{g_form.width}};
    background: {{g_form.title_background}};
    padding: 5px 20px;
    min-height: {{g_form.height}};
    color: {{g_form.title_text_color}};
    border-style: solid;
	border-color: {{g_form.border}};
	border-width:1px;
    border-radius: 4px;
    text-decoration: none;
    font-size: {{g_form.size}};
    display: inline-block;
    text-align: center;
    display: flex;
    align-items: center;"><span style="width:100%; text-align:center;">{{g_form.title}}</span> </a>





					</div>
					<div class="codebody">
						<div class="codeheader">
							<h5>Copy & Paste this code on your page</h5>
						</div>
						{% if g_form.id %}
						<xmp>
							<a target="_blank" href="https://atdoorstep.ae/redirectionBy?position=button&referrer={{g_form.website}}&aff_id={{user.id}}&bid={{g_form.id }}" id="ads_button" style="
	width: {{g_form.width}};
    background: {{g_form.title_background}};
    padding: 5px 20px;
    min-height: {{g_form.height}};
    color: {{g_form.title_text_color}};
    border-style: solid;
	border-color: {{g_form.border}};
	border-width:1px;
    border-radius: 4px;
    text-decoration: none;
    font-size: {{g_form.size}};
    display: inline-block;
    text-align: center;
    display: flex;
    align-items: center;"><span style="width:100%; text-align:center;">{{g_form.title}}</span> </a>


						</xmp>
						{% endif %}

					</div>
				</div>
			</div>
		</div>
	</div>
</div>




 {% endblock %}