{% extends 'live_affiliates/layout.html' %}
{% block page_body %}
<div class="addsite_sec">
  <div class="addsite_header">
    <div class="container">
      <div class="main_headding"><h4>Payment Details</h4><span>Affiliate ID- 5438</span></div>
    </div>
  </div>
  <div class="container h-100">



    <div class="search_filter">
	<p>You will be able to see own account information!</p>
      <div class="row d-flex" style="align-items: flex-end;">

        <div class="col-12 col-sm-4 col-md-4">
          <div class="select_search">

			<div class="selectdate">
			<h6>From Date:</h6>
				<select class="form-control">
					<option value="01" selected="">Jan</option>
					<option value="02">Feb</option>
					<option value="03">Mar</option>
					<option value="04">Apr</option>
					<option value="05">May</option>
					<option value="06">June</option>
					<option value="07">July</option>
					<option value="08">Aug</option>
					<option value="09">Sep</option>
					<option value="10">Oct</option>
					<option value="11">Nov</option>
					<option value="12">Dec</option>
				</select>
				<select class="form-control">
					<option value="2008">2008</option>
					<option value="2009">2009</option>
					<option value="2010">2010</option>
					<option value="2011">2011</option>
					<option value="2012">2012</option>
					<option value="2013">2013</option>
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020" selected="">2020</option>

				</select>
			</div>
          </div>
        </div>

		<div class="col-12 col-sm-4 col-md-4">
          <div class="select_search">

			<div class="selectdate">
			<h6>To Date:</h6>
				<select class="form-control">
					<option value="01">Jan</option>
					<option value="02">Feb</option>
					<option value="03">Mar</option>
					<option value="04">Apr</option>
					<option value="05">May</option>
					<option value="06" selected="">June</option>
					<option value="07">July</option>
					<option value="08">Aug</option>
					<option value="09">Sep</option>
					<option value="10">Oct</option>
					<option value="11">Nov</option>
					<option value="12">Dec</option>
				</select>
				<select class="form-control">
					<option value="2008">2008</option>
					<option value="2009">2009</option>
					<option value="2010">2010</option>
					<option value="2011">2011</option>
					<option value="2012">2012</option>
					<option value="2013">2013</option>
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
					<option value="2020" selected="">2021</option>
				</select>
			</div>
          </div>
        </div>

    </div>
    </div>


    <div class="seles_report">

    <h4 class="mb-3 mt-3">My Payment</h4>
    <div class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Payment Month</th>
          <th scope="col">Payment Date</th>
          <th scope="col">Payment Mode</th>
          <th class="text-right" scope="col">Payment Generated</th>
          <th class="text-right" scope="col">Fake/Reversal</th>
          <th class="text-right" scope="col">TDS</th>
		  <th class="text-right" scope="col">Payment Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">0</th>
          <td>0</td>
          <td>0</td>
          <td class="text-right">0</td>
          <td class="text-right">0</td>
          <td class="text-right">0</td>
		  <td class="text-right">0</td>
        </tr>
		<tr>
          <td class="text-right" colspan="6"><h6>Total</h6></td>
		  <td class="text-right"><h6>00.00</h6></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>

  </div>
</div>
 {% endblock %}