{% extends 'live_affiliates/layout.html' %}
{% block page_body %}
<div class="addsite_sec">
    <div class="addsite_header">
        <div class="container">
            <div class="main_headding"><h4>Manage Your Website </h4><span>Affiliate ID- {{user.id}}</span></div>
            <div class="add_search_sec">
                <h6>Add a new site: </h6>
                 <form method="post">
                <div class="search_bar">
                         {% csrf_token %}
                    <input type="text" placeholder="website url" name="website" required>
                    <button type="submit">Add Site</button>
                </div>
                 </form>
                <i>Enter domain without http://www. eg. domain.com , my.domain.com</i>
            </div>
        </div>
    </div>
    <div class="container h-100">
        <div class="addsite_inn">

            <h4 class="mb-4">My Websites</h4>
            {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <table class="table table-bordered table-hover table-sm">
                <thead>
                <tr>
                    <th width="50" scope="col">Sr No.</th>
                    <th scope="col">Website URL</th>

                </tr>
                </thead>
                <tbody>
                {% if websites %}
                {% for website in websites %}
                <tr>
                    <th class="text-center" scope="row">{{ forloop.counter }}</th>
<!--                    {{ forloop.counter0 }}-->
                    <td>{{website.website_address}}</td>
                </tr>
                {% endfor %}
                {% endif %}

                </tbody>
            </table>

        </div>

    </div>
</div>
{% endblock %}