<nav class="navbar navbar-expand-lg navbar-dark fixed-top custom_nav">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/static/images/logo.svg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/advantages_and_benefits">Advantages and Benefits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/why_join">Why Join?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="show_btn" href="#">Login</a>
                    <div class="login_popup">

                        <form class="form_login" action="/login" method="post">
                            {% csrf_token %}
                            <button id="hide_btn" type="button">x</button>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address/Username</label>
                                <input type="text" name="username" class="form-control" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" placeholder="Enter your email/username" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                                       placeholder="Enter your password" required>
                            </div>
                            <div class="form-group d-flex">
                                <button type="submit" class="btn btn-primary loginbtn">LOGIN</button>

                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                    <label class="custom-control-label" for="customControlAutosizing">Remember
                                        Me</label>
                                </div>
                            </div>
                            <a class="forgot_pass" href="/password_reset">Forgot Password</a>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>